p{
   color:red;
   background-color: blue;

}
img{
    
    
    
}
h1{
     color:black;
     background-color:red;
}

.abc{

    color:white;
    font-size: 50px;
    background-color: black;
}

.xyz{

    color:blue;
    font-size: 70px;
    background-color: red;
}